<nav>
  <div class="sidebar">
    <h4 class="text-center">History</h4>
    <ul class="list-unstyled components heading-bar">
      <li class="to-detail p-lg-2">
        <h6>How to make the game better</h6>
      </li>
      <li class="to-detail p-lg-2">
        <h6>How to make the game better</h6>
      </li>
      <li class="to-detail p-lg-2">
        <h6>How to make the game better</h6>
      </li>
      <li class="to-detail p-lg-2">
        <h6>How to make the game better</h6>
      </li>

    </ul>
  </div>
</nav>

<div class="main-content">
  <app-chat-bar [src]="imgUrl" who="{{ name }}" >This is the content you provided</app-chat-bar>
</div>

<div class="search-container">
  <textarea #prompt placeholder="Ask Me Something...."></textarea>
  <button (click)="getPrompt(prompt.value, prompt)" [disabled]="false" class="btn send-button"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#008090" class="bi bi-send" viewBox="0 0 16 16">
      <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
    </svg>
  </button>
</div>
