<nav>
  <div class="sidebar">
    <h4 class="text-center">History</h4>
    <ul class="list-unstyled components heading-bar">
      <li class="to-detail p-lg-2">
        <h6>How to make the game better</h6>
      </li>
      <li class="to-detail p-lg-2">
        <h6>How to make the game better</h6>
      </li>
      <li class="to-detail p-lg-2">
        <h6>How to make the game better</h6>
      </li>
      <li class="to-detail p-lg-2">
        <h6>How to make the game better</h6>
      </li>

    </ul>
  </div>
</nav>

<div class="main-content">
  <ng-container #chatRef>
  </ng-container>
  <div class="spacer"></div>
</div>

<div class="search-container">
  <div class="spinner-grow spinner-border-sm" role="status">
  <span class="visually-hidden"></span>
</div>
  <textarea   #prompt placeholder="Ask Me Something...."></textarea>
  <button (click)="getPrompt(prompt.value, prompt)" [disabled]=""  class="btn btn-outline" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#008090" class="bi bi-arrow-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
  </svg>
</button>
</div>
